.chats-profile-link {
  text-decoration: none;
  color: black;
}
.chats-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.chats-header__title {
  font-size: 30px;
  font-weight: bold;
}

.chats-header__column:last-child i:nth-child(2),
.chats-header__column:last-child i:nth-child(3),
.chats-header__column:last-child i:nth-child(4) {
  margin-left: 15px;
}

.chats-profile {
  display: flex;
  align-items: center;
  margin: 0px 20px;
}

.chats-profile__image img {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: black;
}

.chats-profile__info h2 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

.chats-profile__info p {
  opacity: 0.5;
  padding-bottom: 20px;
}

.chats-profile__notification {
  margin-left: auto;
}

.chats-profile__notification span {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.chats-profile__notification__count {
  width: 25px;
  height: 25px;
  background-color: #ff6229;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 10px;
  margin-left: auto;
  margin-bottom: 20px;
}
