.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-header__title {
  font-size: 30px;
  font-weight: bold;
}

.main-header__column:last-child i:nth-child(2),
.main-header__column:last-child i:nth-child(3),
.main-header__column:last-child i:nth-child(4) {
  margin-left: 15px;
}

@keyframes gearRotate {
  form {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.main-header__column:last-child i:last-child {
  margin-left: 15px;
  color: var(--black);
}

.main-header__column:last-child i:last-child:hover {
  animation: gearRotate 1s linear infinite;
}
