.profile {
  display: flex;
  align-items: center;
  margin: 10px 20px;
}

.profile__image img {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-bottom: 10px;
  margin-right: 20px;
  background-color: black;
}

.profile__info h2 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 15px;
}

.profile__info p {
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 15px;
}
